/.fleet
/.vscode
/.vs
/cmake-build-debug-vdsuite
/build
/build.bat
/build.sh
/run.sh
/resource/rco/cxml
/resource/*.rco
/resource/rco/src/locale/*.rcs
/resource/bhbb_plugin.rco
/resource/libScePafPreload.suprx
/build_mac.sh
/.DS_Store
/clean.sh
/resource/bhbb_plugin.rcd
*.DS_Store
/update_rco.sh
bhbb_dl/.vscode
/genhashheaders.py
._*
/.idea
/run.bat
*.rcs