<?xml version="1.0" encoding="UTF-8"?>

<application_settings version="1.0" bg_color="66.0, 120.0, 96.0, 255.0" header_footer_text_color="219.0, 161.0, 35.0, 255.0" title_text_color="35.0, 216.0, 219.0, 255.0" value_text_color="35.0, 29.0, 181.0, 255.0" back_button_color="201.0, 65.0, 44.0, 255.0">
	<setting_list id="sample_setting" title="msg_settings">
	    <button id="sample_button" title="msg_sample_button" description="msg_sample_button_description" hint="msg_sample_button_hint" success_dialog_message="msg_sample_button_dialog" confirm="msg_sample_button_confirm" icon="app0:test.png" />
		<list id="sample_list" title="msg_sample_list" key="sample_list" default_value="0">
			<list_item id="sample_list_00" title="msg_sample_list_00" value="0" />
			<list_item id="sample_list_01" title="msg_sample_list_01" value="1" />
			<list_item id="sample_list_02" title="msg_sample_list_02" value="2" />
			<list_item id="sample_list_03" title="msg_sample_list_03" value="3" />
		</list>

		<setting_list id="sample_setting_2" title="msg_settings_2" style="edit">
		    <text_field id="sample_text_field" title="msg_sample_text_field" max_length="255" min_length="0" keyboard_type="alphabet" key="sample_text_field" default_value=""/>
		    <label id="sample_label" title="msg_sample_label" style="heading"/>
			<spacer id="sample_spacer" line="on" />
		    <toggle_switch id="sample_toggle" title="msg_sample_toggle" key="sample_toggle" default_value="1"/>
	    </setting_list>
        
	</setting_list>
</application_settings>